@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-urbanist: "Urbanist", sans-serif;
}

body {
  font-family: var(--font-urbanist);
}

ul {
  margin-left: 1.5rem;
  list-style-type: disc;
}

ol {
  margin-left: 1.5rem;
  list-style-type: decimal;
}

li {
  margin-bottom: 0.5rem;
}
